<div class="row row-center row-wrap">
    <div class="column column-1">
        <div class="gap gap-4"></div>
        <h3>Дата</h3>
        <div class="gap gap-2"></div>
        Filter:
        <button class="button filter filter-current js-filter js-filter-day">Today</button>
        <button class="button filter js-filter js-filter-week">This Week</button>
        <button class="button filter js-filter js-filter-month">This Month</button>
        <div class="gap gap-2"></div>
        From: <input class="date js-date-from" value="">
        To: <input class="date js-date-to" value="">
        <div class="gap gap-4"></div>
    </div>
</div>
