<div class="row row-center row-wrap">
    <div class="column column-1">
        <div class="gap gap-4"></div>
        <h3>Таблицы</h3>
        <p>Данные в таблицах <strong>тестовые</strong>, не связаны с актуальными</p>
        <div class="gap gap-2"></div>

        <div class="row row-between table table-header table-restaurants">
            <div class="column column-auto cell">
                Restaurant
            </div>
            <div class="column column-auto cell">
                Visits
            </div>
            <div class="column column-auto cell">
                Guests
            </div>
            <div class="column column-auto cell">
                Quantity
            </div>
            <div class="column column-auto cell">
                Amount
            </div>
            <div class="column column-auto cell">
                Discount
            </div>
            <div class="column column-auto cell">
                Charge
            </div>
            <div class="column column-auto cell">
                Payment
            </div>
        </div>
        <div class="row row-between table table-restaurants">
            <div class="column column-auto cell">
                <div class="js-expand-button" data-expand="bazar">Bazar Turkish Cuisine</div>
            </div>
            <div class="column column-auto cell">
                39
            </div>
            <div class="column column-auto cell">
                129
            </div>
            <div class="column column-auto cell">
                621
            </div>
            <div class="column column-auto cell">
                3,817
            </div>
            <div class="column column-auto cell">
                0.0
            </div>
            <div class="column column-auto cell">
                0.0
            </div>
            <div class="column column-auto cell">
                3,886
            </div>
        </div>

        <div class="js-expand-content" data-expand="bazar">
            <h6>Bazar Turkish Cuisine</h6>
            <div class="gap gap-2"></div>
            <div class="row row-between table table-header table-types">
                <div class="column column-auto cell">
                    Title
                </div>
                <div class="column column-auto cell">
                    Quantity
                </div>
                <div class="column column-auto cell">
                    Avg price
                </div>
                <div class="column column-auto cell">
                    Amount
                </div>
                <div class="column column-auto cell">
                    Discount
                </div>
                <div class="column column-auto cell">
                    Charge
                </div>
                <div class="column column-auto cell">
                    Payment
                </div>
            </div>

            <div class="row row-between table table-types">
                <div class="column column-auto cell">
                    Beverage 1
                </div>
                <div class="column column-auto cell">
                    234
                </div>
                <div class="column column-auto cell">
                    4.97
                </div>
                <div class="column column-auto cell">
                    1,163
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    1,163
                </div>
            </div>

            <div class="row row-between table table-types">
                <div class="column column-auto cell">
                    Food 2
                </div>
                <div class="column column-auto cell">
                    327
                </div>
                <div class="column column-auto cell">
                    8.65
                </div>
                <div class="column column-auto cell">
                    2,031
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    2,843
                </div>
            </div>

            <div class="row row-between table table-types">
                <div class="column column-auto cell">
                    Beverage 2
                </div>
                <div class="column column-auto cell">
                    234
                </div>
                <div class="column column-auto cell">
                    4.97
                </div>
                <div class="column column-auto cell">
                    1,163
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    1,163
                </div>
            </div>

            <div class="row row-between table table-types">
                <div class="column column-auto cell">
                    Food 2
                </div>
                <div class="column column-auto cell">
                    327
                </div>
                <div class="column column-auto cell">
                    8.65
                </div>
                <div class="column column-auto cell">
                    2,031
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    2,843
                </div>
            </div>

            <div class="row row-between table table-footer">
                <div class="column column-auto cell">
                    Total
                </div>
                <div class="column column-auto cell">
                    3270
                </div>
                <div class="column column-auto cell">
                    80.65
                </div>
                <div class="column column-auto cell">
                    20,031
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    20,843
                </div>
            </div>
        </div>

        <div class="row row-between table table-restaurants">
            <div class="column column-auto cell">
                <div class="js-expand-button" data-expand="homebridge">Home Bridge</div>
            </div>
            <div class="column column-auto cell">
                106
            </div>
            <div class="column column-auto cell">
                459
            </div>
            <div class="column column-auto cell">
                599
            </div>
            <div class="column column-auto cell">
                4,687
            </div>
            <div class="column column-auto cell">
                24.40
            </div>
            <div class="column column-auto cell">
                89.20
            </div>
            <div class="column column-auto cell">
                4,751
            </div>
        </div>

        <div class="js-expand-content" data-expand="homebridge">
            <h6>Home Bridge</h6>
            <div class="gap gap-2"></div>
            <div class="row row-between table table-header table-types">
                <div class="column column-auto cell">
                    Title
                </div>
                <div class="column column-auto cell">
                    Quantity
                </div>
                <div class="column column-auto cell">
                    Avg price
                </div>
                <div class="column column-auto cell">
                    Amount
                </div>
                <div class="column column-auto cell">
                    Discount
                </div>
                <div class="column column-auto cell">
                    Charge
                </div>
                <div class="column column-auto cell">
                    Payment
                </div>
            </div>

            <div class="row row-between table table-types">
                <div class="column column-auto cell">
                    Beverage 3
                </div>
                <div class="column column-auto cell">
                    234
                </div>
                <div class="column column-auto cell">
                    4.97
                </div>
                <div class="column column-auto cell">
                    1,163
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    1,163
                </div>
            </div>

            <div class="row row-between table table-types">
                <div class="column column-auto cell">
                    Food 3
                </div>
                <div class="column column-auto cell">
                    327
                </div>
                <div class="column column-auto cell">
                    8.65
                </div>
                <div class="column column-auto cell">
                    2,031
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    2,843
                </div>
            </div>

            <div class="row row-between table table-types">
                <div class="column column-auto cell">
                    Beverage 4
                </div>
                <div class="column column-auto cell">
                    234
                </div>
                <div class="column column-auto cell">
                    4.97
                </div>
                <div class="column column-auto cell">
                    1,163
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    1,163
                </div>
            </div>

            <div class="row row-between table table-types">
                <div class="column column-auto cell">
                    Food 4
                </div>
                <div class="column column-auto cell">
                    327
                </div>
                <div class="column column-auto cell">
                    8.65
                </div>
                <div class="column column-auto cell">
                    2,031
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    2,843
                </div>
            </div>

            <div class="row row-between table table-footer">
                <div class="column column-auto cell">
                    Total
                </div>
                <div class="column column-auto cell">
                    3270
                </div>
                <div class="column column-auto cell">
                    80.65
                </div>
                <div class="column column-auto cell">
                    20,031
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    0.0
                </div>
                <div class="column column-auto cell">
                    20,843
                </div>
            </div>
        </div>

        <div class="row row-between table table-footer table-restaurants">
            <div class="column column-auto cell">
                <div>Total</div>
            </div>
            <div class="column column-auto cell">
                1060
            </div>
            <div class="column column-auto cell">
                4590
            </div>
            <div class="column column-auto cell">
                5990
            </div>
            <div class="column column-auto cell">
                40,687
            </div>
            <div class="column column-auto cell">
                240.40
            </div>
            <div class="column column-auto cell">
                890.20
            </div>
            <div class="column column-auto cell">
                40,751
            </div>
        </div>

        <div class="gap gap-4"></div>
    </div>
</div>
